/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
} */
.header {
  background-color: #55585d;
  color: #fff;
  text-align: center;
  width: 100%; /* ให้กล่องคลุมพื้นที่ทั้งหมด */
  padding: 20px; /* เพิ่มพื้นที่ภายในกล่อง */
  border-radius: 15px;
  margin-bottom: 100px; /* ปรับขอบให้เป็น 0 */
  box-sizing: border-box; /* ให้รวม padding ในการคำนวณขนาด */
}
.container {
  display: flex;
  justify-content: space-around;
  gap: 20px; /* เพิ่มระยะห่างระหว่างกล่อง */
  flex-wrap: wrap; /* ให้กล่องยืดหยุ่นในแนวตั้ง */
}
p {
  text-align: center;
}
.Box1,
.Box2,
.Box3 {
  width: 25%;
  height: 500px;
  background-color: #ecf0f6;
  margin: 10px;
  border-radius: 15px; /* เพิ่มมุมโค้งมน */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* เพิ่มเงา */
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 300px) and (max-width: 740px) {
  .container {
    flex-direction: column; /* ให้กล่องจัดเรียงในแนวตั้ง */
    align-items: center; /* จัดกลางแนวนอน */
  }

  .Box1,
  .Box2,
  .Box3 {
    width: 100%; /* ให้กล่องกว้างเต็มหน้าจอ */
    height: auto;
    margin: 10px 0; /* เพิ่มระยะห่างด้านบนและด้านล่าง */
  }
}
